.logincontainer{ 
    border-radius: 20px;
  
}

Button{
    width: 100%;
    
}

.header{
    background-color: blue;
}

.headerlink{
    color: aliceblue;
    text-decoration: none;
    padding: 0 10px;
}