.dashboard{ 
   background-color:rgb(3, 3, 68);
    color: white;
}

/* .navi{
    background-color: aqua;
} */

.staffdetails{
    background-color: purple;
    color: white;
    max-width: fit-content;
}

.tablehead{
    background-color: blue;
}